@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Pacifico&display=swap');
a{
    pointer-events: none; 
    cursor: default; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 1536px;
}
body{
    position: relative;
    width: 1536px;
    height: 2085px;
    background: #f5f5f5;
    font-family: 'Nunito', normal;
}
/*Primera parte*/
.page-encabezado{
    position: relative;
    height: 487px;
    width: 1536px;
    left: 0px;
    right: 0%;
    top: 0px;
    background: url(imagenes/fondo-encabezado.svg), #000000;
    border-radius: 0px;
}
.botones-encabezado{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: relative;
    width: 381px;
    height: 42px;
    left: 1053px;
    top: 29px;
}
.btn-1{
    position: relative;
    height: 42px;
    width: 149px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #5BC6C6;
    border: 2px solid #5BC6C6;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
}
.botones-encabezado .btn-1 p{
    position: relative;
    width: 129px;
    height: 22px;
    right: 13px;
    top: 8px;
    left: 8px;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}
.btn-2{
    position: relative;
    width: 66px;
    height: 42px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
}
.botones-encabezado .btn-2 p{
    position: relative;
    width: 63px;
    height: 18px;
    right: 0px;
    top: 8px;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
.btn-3{
    width: 146px;
    height: 42px;
    flex: none;
    order: 2;
    flex-grow: 0;
    box-sizing: border-box;
    position: relative;
    background: #FF4742;
    border: 2px solid #FF4742;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    border-radius: 12px;    
}
.botones-encabezado .btn-3 p{
    position: relative;
    width: 142px;
    height: 22px;
    left: calc(50% - 142px/2 - 0.44px);
    top: 8px;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.remote{
    position: relative;
    padding: 0px 0px 0px 620px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 43.2px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: lowercase;
    color: #FFFFFF;
    cursor: default;
    width: auto;
}
.rectangle{
    position: absolute;
    left: 49.3%;
    right: 32%;
    top: 8%;
    bottom: 83%;
    width: 3px;
    background: #FFFFFF;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.ok{
    position: absolute;
    padding: 0px 0px 0px 780px;
    top: 65px;
    font-weight: 800;
    font-size: 27.2px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.R{
    box-sizing: border-box;
    position: relative;
    left: 53.5%;
    right: 49%;
    top: 0px;
    bottom: 90%;
    border-radius: 50%;
    color: #f5f5f5;
}
.find{
    position: relative;
    width: 391.49px;
    height: 44.16px;
    left: 550px;
    top: 5px;
    color: white;
    font-size: 48px;
}
.page-titulo2 span{
    font-family: 'Nunito';
    font-weight:800;
}
.work{
    position: relative;
    width: 459.7px;
    height: 41.54px;
    left: 511px;
    top: 1px;
    color: white;
    font-size: 48px;
}
.page-titulo3 span{
    font-family: 'Nunito';
    font-weight:800;
}
.buscador{
    position: relative;
    width: 435px;
    height: 53px;
    left: calc(50% - 545px/2 + 9.5px);
    top: 18px;
    background: url(imagenes/buscador.svg), #FFFFFF;
    box-shadow: 0px 0px 0px 1px #DDDDDD, 0px 2px 4px rgba(0, 0, 0, 0.07), 0px 1px 1.5px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
}
.bloque1{
    position: relative;
    width: 1114px;
    height: 82px;
    left: 168px;
    top: 65px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 0px 1px #DDDDDD;
    border-radius: 12px;
    z-index: 2;
}
.border{
    position: relative;
    height: 150px;
    width: 1536px;
    z-index: 1;
    left: 0px;
    right: 0%;
    top: -160px;
    background: url(imagenes/fondo.png);
}
.bloque1-text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-weight: 800;
    position: relative;
    width: 651px;
    height: 22px;
    left: calc(50% - 651px/2 - 120.5px);
    top: 29px;
    color: #0F1115;
}
.bloque1-post{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    width: 159px;
    height: 42px;
    left: calc(50% - 153.72px/2 + 300px);
    top: calc(50% - 42px/2 - 23px);
    background: #FF4742;
    border: 2px solid #FF4742;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07), 0px 1px 1.5px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    color: #FFFBFB;
    align-items: center;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
}
.bloque1-hide{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    width: 88.17px;
    height: 42px;
    left: calc(50% - 88.17px/2 + 447.09px);
    top: calc(50% - 42px/2 - 64px);
    background: #FFFBFB;
    border: 2px solid #FF4742;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07), 0px 1px 1.5px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    color: #FF4742;
    align-items: center;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
}
.amazon img{
    position: relative;
    width: 100px;
    height: 30px;
    left: calc(50% - 100px/2 - 415.38px);
    top: 80px;
    mix-blend-mode: luminosity;
    z-index: 3;
}
.trusted{
    position: relative;
    width: 84px;
    height: 14px;
    left: calc(50% - 180px/2 - 466.38px);
    top: 96px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 3;
    color: rgba(15, 17, 21, 0.6);
    mix-blend-mode: luminosity;
}
.github img{
    position: relative;
    width: 100px;
    height: 30px;
    left: calc(50% - 100px/2 - 380px);
    top: 74px;
    mix-blend-mode: luminosity;
    z-index: 3;
}
.stripe img{
    position: relative;
    width: 100px;
    height: 30px;
    left: calc(50% - 100px/2 - 360px);
    top: 74px;
    mix-blend-mode: luminosity;
    z-index: 3;
}
.shopify img{
    position: relative;
    width: 100px;
    height: 30px;
    left: calc(50% - 105.5px/2 - 349.75px);
    top: 74px;
    mix-blend-mode: luminosity;
    z-index: 3;
}
.upwork img{
    position: relative;
    width: 100px;
    height: 30px;
    left: calc(50% - 100px/2 - 325px);
    top: 75px;
    mix-blend-mode: luminosity;
    z-index: 3;
}
.indeed img{
    position: relative;
    width: 115px;
    height: 30px;
    left: calc(50% - 100px/2 - 300px);
    top: 74px;
    mix-blend-mode: luminosity;
    z-index: 3;
}
.angel img{
    position: relative;
    width: 137px;
    height: 30px;
    left: calc(50% - 100px/2 - 255px);
    top: 74px;
    mix-blend-mode: luminosity;
    z-index: 3;
}

.bloque-search{
    position: relative;
    width: 1216px;
    height: 120px;
    left: 162px;
    top: 100px;
    z-index: 3;
}
.logo-rok img{
    position: relative;
    width: 40px;
    height: 40px;
    left: 1px;
    top: 14px;
}
.contenido-search{
    position: relative;
    width: 162.17px;
    height: 40px;
    left: 60px;
    top: -27px;
}
.search{
    padding: 7px 10px 10px 10px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    width: 175px;
    font-weight: 800;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
}
.select-search{
    box-sizing: border-box;
    align-items: flex-start;
    padding: 7px 6px 93px;
    position: relative;
    width: 351px;
    height: 236px;
    left: -10px;
    top: 1px;
    overflow-y: scroll;
    background: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    z-index: 100;
    cursor: pointer;
}
.contenido-search i{
    font-size: 22px;
    font-weight: 900;
    position: relative;
    left: 140px;
    top: -29px;
}
.select-search .opciones{
    width: auto;
    height: auto;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    margin-left: 10px;
    margin-bottom:37px;
    color: #000000;
    background-color: #F5F5F5;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 100;
}
.select-search::-webkit-scrollbar{
    width: 7px;
}
.location{
    position: relative;
    width: 150px;
    height: 44px;
    left: 250px;
    top: -72px;
    background: url(imagenes/location.svg);
}
.salary{
    position: relative;
    width: 150px;
    height: 44px;
    left: 410px;
    top: -116px;
    background: url(imagenes/salary.svg);
}
.benefits{
    position: relative;
    width: 150px;
    height: 44px;
    left: 575px;
    top: -159px;
    background: url(imagenes/benefits.svg);
}
.sort-by{
    position: relative;
    width: 150px;
    height: 44px;
    left: 975px;
    top: -204px;
    background: url(imagenes/sortby.svg);
}
.categorias{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 458.891px 7px 7px;
    gap: 11.14px;
    isolation: isolate;
    position: relative;
    width: 1208px;
    height: 54px;
    left: -6px;
    top: -202px;
}
.sub{
    box-sizing: border-box;
    width: 114px;
    height: 43px;
    padding: 8px;
    font-size: 16px;
    font-weight: 800;
    background: rgba(255, 255, 255, 0.5);
    mix-blend-mode: luminosity;
    border: 2px dashed rgba(221, 221, 221, 0.5);
    border-radius: 32px;
    flex: none;
    flex-grow: 0;
    order: 0;
    color: rgba(15, 17, 21, 0.5);
}
.lista-general{
    position: relative;
    width: 1154px;
    height: 1470px;
    left: 144px;
    top: -50px;
    border-radius: 5px;
}
.lista-1,.lista-2,.lista-3,.lista-4,
.lista-5,.lista-6,.lista-7,.lista-8,
.lista-9,.lista-10,.lista-11,.lista-12,.lista-13{
    position: relative;
    width: 1140px;
    height: 98px;
    left: 20px;
    top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.lista-1 img,.lista-2 img,.lista-3 img,.lista-4 img,
.lista-5 img,.lista-6 img,.lista-7 img,.lista-8 img,
.lista-9 img,.lista-10 img,.lista-11 img,.lista-12 img,.lista-13 img{
    box-sizing: border-box;
    position: relative;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 14px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
    border-radius: 60px;
}
.lista-1 h4{
    position: relative;
    height: 26px;
    left: 9.82%;
    right: 55.33%;
    top: -40px;
    font-weight: 800;
    font-size: 17px;
    line-height: 2px;
    color: #FFFFFF;
   width: 320px;
}
.lista-1 h5{
    position: relative;
    height: 20px;
    left: 9.83%;
    right: 50.77%;
    top: -44px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    width: 320px;
}
.lista-1 button{
    box-sizing: border-box;
    position: relative;
    left: 953px;
    right: 35px;
    top: -85px;
    bottom: 22px;
    width: 149px;
    height: 40px;
    background: #5BC6C6;
    border: 2px solid #5BC6C6;
    border-radius: 12px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
}
.title-h4{
    position: relative;
    height: 26px;
    left: 9.96%;
    right: 78.9%;
    top: -55px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 26px;
    color: #000000;
    width: 320px;
}
.title2-h4{
    position: relative;
    height: 22px;
    left: 9.78%;
    right: 83.57%;
    top: -55px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #0F1115;
    width: 320px;
}
.lista-4 .new,.lista-5 .new,.lista-13 .new{
    position: relative;
    height: 14px;
    width: 35px;
    left: 20.83%;
    right: 72.09%;
    top: -192px; 
    border-radius: 0px;
}
.places{
    position: relative;
    height: 21px;
    left: 9.78%;
    right: 84.22%;
    top: -50px;
    width: 1000px;
}
.place{
    position: relative;
    box-sizing: border-box;
    height: 21px;
    padding:3px;
    width: 19px;
    font-size: 13px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 32px;
    color: #000000;
    font-weight: 500;
    margin-right: 10px;
}
.verified{
    position: absolute;
    height: 19px;
    left: 26.39%;
    right: 67.89%;
    top: 12px;
    width: 6%;
    background: #36E67F;
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    color: white;
    line-height: 21px;
}
.categoria-group{
    position: relative;
    width: 290px;
    height: 30px;
    left: 610px;
    top: -100px;
}
.cat-lis{
    border: 3px solid #000000;
    border-radius: 12px;
    font-weight: 800;
    font-size: 13px;
    line-height: 12px;
    padding:4px;
    color: #000000;
    margin-right: 10px;
}   
.days{
    position: relative;
    width: 37px;
    height: 23px;
    left: 910px;
    top: -130px;
    font-weight: 500;
    font-size: 14px;
}
.days p{
    width: 47px;
}
.boton-apply{
    position: relative;
    left: 953px;
    right: 35px;
    top: -163px;
    bottom: 22px;
    width: 100px;
}
.boton-apply button{
    background: #F26969;
    border: 2px solid #F26969;
    border-radius: 12px;
    width: 156px;
    height: 44px;
    color: white;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
}
.descripcion{
    position: relative;
    top:-135px;
    width: 1140px;
    height: 4205px;
    left: 0px;
}
.descripcion ul{
    width: auto;
}
.descripcion h1{
    position: relative;
    left: 50px;
    top: 1.01%;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 10px;
    width: 1000px;
}
.descripcion h2{
    position: relative;
    left: 50px;
    top: 1.01%;
    font-weight: 700;
    margin-bottom: 15px;
    width: 1000px;
}
.descripcion p{
    position: relative;
    left: 50px;
    top: 1.01%;
    width: 700px;
    font-size: 19px;
    margin-bottom: 15px;
}
.descripcion span{
    text-decoration: underline;
    font-weight: 700;
}
.descripcion li{
    position: relative;
    left: 110px;
    top: 45px;
    width: 950px;
    font-size: 19px;
    margin-bottom: 11px;
}
.card{
    box-sizing: border-box;
    position: relative;
    left: 66.34%;
    right: 1.26%;
    top: -3569px;
    bottom: 81.47%;
    width: 360px;
    height: 729px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.card img{
    box-sizing: border-box;
    position: relative;
    left: 33.8%;
    right: 34.35%;
    top: 2.16%;
    bottom: 82.3%;
    width: 115px;
    height: 115px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
    border-radius: 115px;
}
.card h2{
    position: relative;
    left: 29%;
    right: 28.5%;
    top: 3%;
    bottom: 74.63%;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    width: 300px;
}
.card h3{
    position: relative;
    left: 30.75%;
    right: 29.73%;
    top: 3%;
    bottom: 68.92%;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    width: auto;
}
.card button{
    position: relative;
    left: 17.92%;
    right: 18.7%;
    top: 6.46%;
    bottom: 58.38%;
    background: #FF3C36;
    border-radius: 15px;
    width: 228px;
    height: 53px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.card p{
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    left: -165px;
    right: 21.35%;
    top: 11%;
    bottom: 39.84%;
    align-items: center;
    text-align: center;
}
.card a{
    position: relative;
    left: 24.7%;
    right: 22.78%;
    top: 15.51%;
    bottom: 29.86%;
    background: #FFFFFF;
    border: 1px solid rgba(206, 206, 206, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: black;
    padding: 10px;
    font-size: 18px;
}
.card h5{
    position: relative;
    left: 30.02%;
    right: 30.46%;
    top: 20%;
    bottom: 24.58%;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    height: 100px;
    width: 150px;
}
hr{
   position: relative;
   top: 90px;
   width: 300px;
   left: 30px;
   margin-bottom: 45px;
}
.final-card{
    position: relative;
    left: 11.49%;
    right: 11.49%;
    top: -640px;
    bottom: 2.62%;
    background: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    height: 479px;
    width: 858px;
}
.final-card h1{
    position: relative;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: #000000; 
    left: 28.73%;
    right: 28.73%;
    top: 10.14%;
    bottom: 80.57%;
}
.final-card button{
    position: relative;
    left: 6.99%;
    right: 6.99%;
    top: 13.97%;
    bottom: 57.62%;
    background: #FF3C36;
    border: none;
    border-radius: 40px;
    height: 64px;
    width: 738px;
    border-radius: 40px;
    color: white;
    font-weight: 700;
    font-size: 38px;
    cursor: pointer;
}
.final-card p{
    position: relative;
    left: 11.32%;
    right: 2.38%;
    top: 22.43%;
    bottom: 8.14%;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #000000;
    width: 820px;
}